<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insurance Page</title>
    <link rel="stylesheet" href="../static/CSS/styleViews.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  </head>

  <body>
    <header>
      <nav>
        <img
          src="../static/IMG/USAL CLINIC.png"
          alt="Usal Clinic Logo"
          class="logo_img"
        />

        <div class="text">
          <p>Insurance</p>
        </div>
        <div class="nav_ul">
          <ul>
            <li>
              <button
                id="Appointments_bk_home"
                onclick="window.location.href='/home';"
              >
                Home
              </button>
            </li>
            <li>
              <button
                id="addappt_log_out"
                onclick="window.location.href='/logout';"
              >
                Logout
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="View_table">
        
        <section class="api_table_body">
          <table id="insuranceTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Insurance name</th>
                <th>Coverage details</th>
                <th>Contact number</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </section>
      </div>
    </main>
    <footer>
      <p>Copyright © 2024 usalclinic V4.24.0, All Rights Reserved</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
  
          var table =$('#insuranceTable').DataTable({
            ajax: {
              url: '/api/all_insurances', 
              method: 'GET',
              dataSrc: ''
            },
            columns: [
            {data: 'id'},
              { data: 'insurance_name' },
              { data: 'coverage_details' },
              { data: 'contact_number' },
              { data: 'address'}
             
            ]
          });
  
  
        });
      </script>

  </body>
</html>